<app-navbar></app-navbar>
<div class="title">
  ADD TODO
</div>
<div class="todos">
  <form [formGroup]="todoForm" (submit)="addTodo()" class="form">
    <input class="date" type="date" name="estimation_date" />
    <!-- <select id="select" name="category_name">
      <option  *ngFor=" let cat of categories" value="{{cat.name}}">{{cat.name}}</option>
    </select> -->
    <input placeholder="Enter Category Name" type="text" name="category_name" id="category" class="todo-input"
      formControlName="category_name" />
    <input placeholder="Enter Todo..." type="text" name="Title" id="todo" class="todo-input" formControlName="Title" />
    <input type="submit" name="submit" class="submit-btn" value="ADD">
  </form>
  <div class="todo-list">
    <div *ngFor="let todo of todos ; let i = index" class="todo-item {{(todo.is_done ? 'done' : '')}}">
      <span class="id">{{i + 1}}</span>
      <span class="todo-content" (click)="toggleDone(i)">{{todo.title}}</span>
      <span class="option">{{todo.id}}</span>
      <span class="estimation">{{todo.completed}}</span>
      <img (click)="deleteTodo(i)" src="../../../assets/icons/trash.svg" alt="trash">
    </div>
  </div>
</div>
