<app-navbar></app-navbar>
<div class="main">
  <div class="profile">
    <div class="user-img">
      <img class="account-img" src="../../../assets/Images/me.JPG" alt="user-img">
      <img class="edit" src="../../../assets/icons/edit(1).png" alt="">
    </div>
    <div class="account-info">
      <span class="welcome">
        Welcome
      </span>
      <span class="account-name">
        Erfan Narshirin
      </span>
      <span class="location">
        <img src="../../../assets/icons/pin.png" alt="">
        <p>Tehran</p>
      </span>
    </div>
    <div class="task-info d-flex">
      <div class="task-side">
        <span>
          <p>
            16 Task
          </p>
          <h5>
            Completed
          </h5>
        </span>
       <div class="progress">
         <div class="bar" style="width: 55%;"></div>
        </div>
        <span class="bar-value">55%</span>
      </div>
      <div class="task-side">
        <span>
          <p>
            8 Task
          </p>
         <h5>
          In Progress
         </h5>
        </span>
        <div class="progress">
          <div class="bar" style="width: 35%;"></div>
         </div>
         <span class="bar-value">35%</span>
      </div>
    </div>
  </div>
</div>
<!-- <div class="add">
  <div class="plus">
    <span>Add Task</span>
    <img routerLink="/category" src="../assets/icons/plus.png" alt="plus">
  </div>
</div> -->
<!-- <div id="left-task" class="task-progress">
  <span>
    <span class="num">47</span>
    Tasks Done.
  </span>
  <img src="../../../assets/icons/test.png" alt="test">
</div>
<div id="right-task" class="task-progress">
  <span>
    <span class="num">100</span>
    All Tasks
  </span>
  <img src="../../../assets/icons/manage.png" alt="manage">
</div> -->
