<app-navbar></app-navbar>
<div class="main">
  <div class="profile">
    <div class="user-img">
      <img class="account-img" src={{user_image}} alt="user-img">
    </div>
    <div class="account-info">
      <span class="welcome">
        Welcome
      </span>
      <span class="account-name">
        {{user_name}}
      </span>
      <span class="account-email">
        {{user_email}}
      </span>
    </div>
    <div class="add-task d-flex justify-content-center mt-4">
    </div>
    <div class="edit">
      <button class="edit-btn" type="btn" routerLink="/user-edit">Edit Profile</button>
      <button class="all-tasks" type="btn" routerLink="/todoList">All Tasks</button>
    </div>
    <div class="logout-tasks">
      <button (click)="userLogOut()" class="logout-btn" type="btn">Log Out</button>
    </div>
  </div>
</div>
