<div>
  <app-navbar></app-navbar>
<div class="task-info">
  <div class="task-side">
    <span>
      <h5>
        All Tasks
      </h5>
      <p>
        24 Task
      </p>
    </span>
  </div>
  <div class="task-side">
    <span>
      <h5>
        Completed
      </h5>
      <p>
        16 Task
      </p>
    </span>
  </div>
  <div class="task-side">
    <span>
      <h5>
        In Progress
      </h5>
      <p>
        8 Task
      </p>
    </span>
  </div>
</div>
<div class="add-task">
  <app-add-task></app-add-task>
</div>
</div>