<div class="login">
  <div class="title">Sign Up</div>
  <form [formGroup]="form" (ngSubmit)='registerUser()' class="form">
    <label for="name" class="name-label">Full Name</label>
    <input type="text" placeholder="Full Name" formControlName="name">
    <!-- <label for="Last-name" class="last-name-label">Last Name</label>
    <input type="text" placeholder="Last Name" name="LastName"> -->
    <label for="email" class="email-label">Email</label>
    <input type="email" placeholder="Email" formControlName="email">
    <label for="password" class="password-label">Password</label>
    <div class="position-relative">
      <input id="passInput" type="password" placeholder="Password" formControlName="password">
      <img id="iconPass" (click)="showPassword()" src="{{showImg ? img2 : img1}}" alt="eye" class="iconPass">
    </div>
    <input type="file" name="profile_pic" (change)="uploadFile($event)">
    <span class="Rmemeber-me">
      <span>Rmemeber Me</span>
    </span>
    <input class="subBtn" type="submit" value="Sign Up">
    <div class="login-option">
      <img src="../../../assets/icons/google.png" alt="google">
      <img src="../../../assets/icons/meta.png" alt="google">
    </div>
    <span class="sign-up">
      Already have an account?
      <a routerLink="/login">Login</a>
    </span>
  </form>
</div>
