<div class="login">
    <div class="title">Sign Up</div>
    <form class="form">
      <label for="name" class="name-label">Name</label>
      <input type="text" placeholder="name" name="name">
      <label for="Last-name" class="last-name-label">Last Name</label>
      <input type="text" placeholder="Last Name" name="LastName">
      <label for="email" class="email-label">Email</label>
      <input type="email" placeholder="Email" name="email">
      <label for="password" class="password-label">Password</label>
      <div class="position-relative">
        <input id="passInput" type="password" placeholder="Password" name="password">
        <img id="iconPass" (click)="showPassword()" src="{{showImg ? img2 : img1}}" alt="eye" class="iconPass">
      </div>
      <input type="file" name="profile_pic">
      <span class="Rmemeber-me">
        <span>Rmemeber Me</span>
      </span>
      <button routerLink="/profile" class="subBtn" type="submit">Sign Up</button>
      <div  class="login-option">
        <img src="../../../assets/icons/google.png" alt="google">
        <img src="../../../assets/icons/meta.png" alt="google">
      </div>
      <span class="sign-up"> 
        Already have an account?
        <a routerLink="/login">Login</a>
      </span>
    </form>
  </div>
  